<div class="container mx-auto">
  <div class="col-span-3">
    <table class="bg-blue-500 w-full">
      <header>
        <tr>
          <th class="px-4 py-2">ชื่อ Admin</th>
        </tr>
      </header>
      <tbody class="text-white font-bold">
        <tr *ngFor="let user of adminList">
          <td class="px-4 py-2">{{ user }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <form [formGroup]="form" (ngSubmit)="submitForm()" >
    <div class="grid grid-cols-3 gap-4 p-5">
      <div class="col-span-1 flex flex-col gap-4">
      <div class="formGroup">
        <label for="txt_nameadmin"
          >ชื่อแอดมิน <span class="text-red-500">*</span></label
        >
        <div class="flex gap-2 items-center">
          <input
            id="txt_nameadmin"
            [ngClass]="{
              valid: this.form.get('name')?.valid,
              invalid:
                this.form.get('name')?.invalid &&
                this.form.get('name')?.errors?.userExists
            }"
            formControlName="name"
            type="text"
          />
          <ng-container
            *ngIf="
              this.form.get('name')?.invalid &&
              this.form.get('name')?.errors?.userExists
            "
          >
            <img
              class="w-5 h-5"
              src="https://icon-library.com/images/fail-icon/fail-icon-15.jpg"
              alt=""
            />
          </ng-container>
          <ng-container *ngIf="this.form.get('name')?.valid">
            <img
              class="w-5 h-5"
              src="https://www.freeiconspng.com/thumbs/success-icon/success-icon-10.png"
              alt=""
            />
          </ng-container>
          <ng-container *ngIf="this.form.get('name')?.pending">
            <img
              class="w-5 h-5"
              src="https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif"
              alt=""
            />
          </ng-container>
        </div>
        <small
          class="text-red-500"
          *ngIf="
            this.form.get('name')?.invalid &&
            this.form.get('name')?.errors?.userExists
          "
          >มีแอดมินชื่อนี้แล้ว</small
        >
      </div>
      <div class="formGroup">
        <label for="txt_password"
          >password <span class="text-red-500">*</span></label
        >
        <input type="password" id="txt_password" formControlName="password" />
      </div>
      <div class="formGroup">
        <label for="txt_confirmpassword"
          >confirmPassword <span class="text-red-500">*</span></label
        >
        <input
          type="password"
          [ngClass]="{ invalid: form.errors?.valueDoNotMath }"
          id="txt_confirmpassword"
          formControlName="confirmPassword"
        />
        <small *ngIf="form.errors?.valueDoNotMath" class="text-red-500"
          >password not match</small
        >
      </div>
      <div class="formGroup">
        <button
          type="submit"
          [disabled]="form.invalid"
          [ngClass]="form.valid ? 'bg-green-500' : 'bg-green-200'"
          class="px-4 py-2 text-white font-semibold"
        >
          SUBMIT
        </button>
      </div>
    </div>
<div class="col-span-2">
  <pre>
    {{form.getRawValue() | json}}
  </pre>
</div>
    </div>
  </form>
</div>
